streamlit==0.85.1
click==7.1.2
pandas==1.2.4
PyPDF2==1.26.0
google-api-python-client==2.7.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==0.4.4
youtube-search-python==1.4.1
matplotlib==3.4.2
geopy==2.1.0
python-dotenv==0.18.0
emoji==1.2.0
langchain
